@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: Quran426;
  src: url("assets/fonts/quran_p426.ttf");
}

@font-face {
  font-family: QuranC;
  src: url("assets/fonts/QCF_BSML.ttf");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #ead8c0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-inline: 1.5em;

  justify-content: center;
  align-items: center;
  gap: 0.5em;

  overflow: hidden;
}

.spin-content {
  z-index: -1;

  width: 100%;
  height: 100%;

  position: absolute;

  display: flex;
  justify-items: center;
  align-items: center;

  left: 0;
  top: 0;

  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.spin-content > svg.pattern {
  fill: #dac9b4;
  opacity: 0.5;

  flex-shrink: 0;

  animation: spin 30s linear infinite;
}

.hero > h3 {
  color: #a79277;
  font-family: QuranC, serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 1em;
}

.content > h1 {
  color: #64553e;
  font-size: 2.3em;
  text-align: center;
}

.ayah p {
  font-family: Quran426, serif;
  font-weight: 400;
  font-size: 1.7em;
  text-align: center;

  color: #81715c;
}

.ayah p::before {
  content: "ﭿ";
  font-family: QuranC, serif;
}

.ayah p::after {
  content: "ﭾ";
  font-family: QuranC, serif;
}

.ayah > h3 {
  color: #81715c;
  font-family: QuranC, serif;
  font-weight: 400;
  font-size: 1.7em;
  text-align: center;
}

/* Adjust font size for even smaller screens */
@media only screen and (max-width: 400px) {
  .ayah p,
  .ayah > h3 {
    font-size: 1.5em !important;
  }

  .content > h1 {
    font-size: 2em !important;
  }
}
